<ul id="todo-list">
    {{#each model.todos as |todo|}}
        {{todo-item todo=todo updateTodo="updateTodo" deleteTodo="deleteTodo"}}
    {{/each}}
</ul>
<label class="btn btn-primary">{{#link-to 'lists.list'}}Back{{/link-to}}</label>
