<section id="main">
    <ul id="todo-list">
        {{#each model as |list|}}
            {{list-item list=list updateList="updateList" deleteList="deleteList"}}
        {{/each}}
    </ul>
</section>
