<section id="todoapp">
  <header id="header">
    <h1>emberlist</h1>
    {{input
      type="text"
      id="new-todo"
      placeholder="Need a list?"
      value=newName
      action="createList"
    }}
  </header>

  <section id="main">
    <ul id="todo-list">
      {{#each list in model}}
        <li>
          <label>{{list.name}}</label>
          <button class="destroy"></button>
        </li>
      {{/each}}

    </ul>
  </section>
</section>
